{{!-- <title>Pokemon Team Builder - Home</title> --}}

<h1 id="Welcome">Welcome to Your Pokemon Team Builder!</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- <button type="button" class="btn btn-pLarimary btn-lg">Create Account</button>
                <button type="button" class="btn btn-secondary btn-lg">Login</button> -->
            <button type="button" class="btn btn-primary btn-lg btn-block">Search Individual Pokemon Data</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block">Login for Your Team Data</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img src="../assets/pokemonCollection.png" alt="" id="pokemonCol">
        </div>
    </div>
</div>