<div class="row" id="loginDiv">
  <div class="col-md-6" >
    <h2>Login</h2>

    <form class="form login-form">
      <div class="nes-field">
        <label for="name_field">Username</label>
        <input type="text" id="login-name" class="nes-input">
      </div>
      <div class="nes-field">
        <label for="password_field">Password</label>
        <input type="text" id="login-pass" class="nes-input">
      </div>
      <div class="nes-field">
        <button type="button" class="nes-btn is-warning">Login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">

    <form class="form signup-form">
      <h2>Signup</h2>
      <div class="nes-field">
        <label for="name_field">Username</label>
        <input type="text" id="signup-name" class="nes-input">
      </div>
      <div class="nes-field">
        <label for="password_field">Password</label>
        <input type="text" id="signup-pass" class="nes-input">
      </div>
      <div class="nes-field">
        <label for="password_field">Repeat Password</label>
        <input type="text" id="signup-pass2" class="nes-input">
      </div>
      <div class="nes-field">
        <button type="button" class="nes-btn is-warning">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>

{{!-- <title>Pokemon Team Builder - Login</title>

<h1 id="loginTitle">Login to View Your Team</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form>
                <div class="form-group1">
                    <!-- <label for="input">User Name</label>
                        <input type="email" class="form-control" id="input" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">Your email address will be your user
                            name.</small> -->
                </div>
                <div class="form-group2">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword">
                </div>
                <button type="submit" class="btn btn2 btn-primary">Submit</button>
            </form>
            <div class="row" id="padding1"></div>
            <h5 class="words1">Don't have an account?</h5>
            <div class="row">
                <button type="button" class="btn btn2 btn-primary">Create Account</button>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div> --}}

<script type="application/javascript">
  document.body.classList.add("main-background");
</script>