{{!-- <title>Pokemon Team Builder - Dream Team</title>
</head> --}}

<h1>Your Dream Team</h1>
<div class="container-fluid">
    <div class="row" id="padding2"></div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
            <h4>Greninja</h4>
            <h4>Charizard</h4>
            <h4>Bulbasaur</h4>
            <h4>Sylveon</h4>
            <h4>Mimikyu</h4>
            <h4>Squirtle</h4>
        </div>
        <div class="col-6">
            <p>Type(s): water, ground <br> Potential weaknesses: grass, ice <br> Potential strengths: rock, fire,
                ground, steel, poison, electric </p>
            <p>Type(s): water, ground <br> Potential weaknesses: grass, ice <br> Potential strengths: rock, fire,
                ground, steel, poison, electric </p>
            <p>Type(s): water, ground <br> Potential weaknesses: grass, ice <br> Potential strengths: rock, fire,
                ground, steel, poison, electric </p>
            <p>Type(s): water, ground <br> Potential weaknesses: grass, ice <br> Potential strengths: rock, fire,
                ground, steel, poison, electric </p>
            <p>Type(s): water, ground <br> Potential weaknesses: grass, ice <br> Potential strengths: rock, fire,
                ground, steel, poison, electric </p>
            <p>Type(s): water, ground <br> Potential weaknesses: grass, ice <br> Potential strengths: rock, fire,
                ground, steel, poison, electric </p>
        </div>
        <div class="col-3"></div>
    </div>
</div>